.nav {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: 320px){

  .nav__logo {
    margin-bottom: 32px;
    max-width: 126px;
    margin-left: 27px;
  }
}

@media (min-width: 880px){

  .nav__logo {
    margin-bottom: 41px;
    max-width: 173px;
  }
}

